[core]
    editor = nvim
    ignorecase = false
    excludesfile = ~/.gitignore
    preloadindex = true
    fscache = true
	autocrlf = input
	filemode = false
[gc]
    auto = 256
[filter "lfs"]
    required   = true
    clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
    name   = Niko Heikkilä
	email = niko.heikkila@futurice.com
    useconfigonly = true
[color]
    branch  = auto
    diff    = auto
    status  = auto
    ui      = always
[color "branch"]
    current = red reverse
    local   = blue
    remote  = green
[color "diff"]
    meta    = yellow
    frag    = magenta
    old     = red bold
    new     = green
    plain   = white
[color "status"]
    added       = yellow
    changed     = green
    untracked   = cyan
[pager]
    diff = diff-so-fancy | bat
	show = diff-so-fancy | bat
[push]
    default = current
    followTags = true
[pull]
    rebase = true
    default = current
[diff]
    tool = default-difftool
    mnemonicprefix = true
[difftool "default-difftool"]
    cmd = code --diff $LOCAL $REMOTE
    prompt = false
[branch]
    autosetuprebase = always
[apply]
    whitespace = nowarn
[rerere]
    enabled = false
[rebase]
    autosquash = true
[alias]
    configure = "config --global -e"
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges"
[commit]
    gpgsign = false
[http]
	sslVerify = true
[init]
	defaultBranch = main
